<!DOCTYPE html>
<html>
<head>
  <title>Intuit Account - Sign Up</title>
</head>
<body>

<header>

  <div class="top">Already have an Intuit account?</br>
  <li><a href="https://accounts.intuit.com/signup.html?offering_id=Intuit.ifs.mint&namespace_id=50000026&redirect_url=https://mint.intuit.com/overview.event#">I forgot my User ID or Password</a></li>


  <li><input class="btn-top" type="submit" name="submit" value="🔒 Sign In"></li>
  </div>

</header>

<div class="logo"></div>

<form>

  <div class="partenaires">
      <a class="turbotax" href="https://turbotax.intuit.com/"></a>
      <a class="quickbooks" href="https://quickbooks.intuit.com/"></a>
      <a class="mint" href="https://www.mint.com/"></a>
  </div>

  <div class="intro">
  One Account.</br>
  Everything Intuit.</br>
  </div>

</br>

  <div class="intro2">
    Create an account for all of Intuit's products </br>including Mint. <a href="https://accounts-help.lc.intuit.com/questions/1582580-creating-an-account"> Learn more </a>
  </div> 
  <fieldset class="account-info">
    
    <label>
      Email address
      <input type="text" name="email">
    </label>
     
    <label>
      Phone (recommended)
      <input type="integer" name="phone">
      <span>Standard call, messaging or data rates may apply.
      </span>
    </label>
    
    <label>
      Password
      <input type="password" name="password">
    </label>
  
  </fieldset>
  
  <fieldset class="account-action">
    <input class="btn" type="submit" name="submit" value="🔒 Create Account">
  </fieldset>

  <div class="formulaire-bottom">By clicking Create Account, you agree to our</br>
    <a href="https://www.mint.com/terms">License Agreement</a> and <a href="https://security.intuit.com/privacy">Privacy Statement.</a></div>

</form>

<footer>

  <div class="logo2"></div>

  <div class="bottom">
    <ul class="color">
      <li><a link="http://about.intuit.com/legal">Legal</a></li>
      <li><a link="https://security.intuit.com/privacy">Privacy</a></li>
      <li><a link="http://security.intuit.com">Security</a></li>
    </ul>          
  </div>

  <div class="copyright">© 2017 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc.</br>
  Terms and conditions, features, support, pricing, and service options subject to change without notice.
  </div>
</footer>

</body>
</html>